environments:
  env-a:
    bastion:
      username: opsuser
      password: "changeme"          # auth_type: password に対応

    targets:
      openshift-cmd-vm:
        username: ocadmin
        private_key_path: keys/env-a/ocadmin.pem

      sample-vm01:
        username: admin
        private_key_path: keys/env-a/admin.pem

      sample-vm02:
        username: admin
        private_key_path: keys/env-a/admin.pem

  env-b:
    bastion:
      username: opsuser-b
      password: "changeme-b"

    targets:
      k8s-cmd-vm:
        username: k8sadmin
        private_key_path: keys/env-b/k8sadmin.pem

      sample-vm01:
        username: admin
        private_key_path: keys/env-b/admin.pem
